@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */

.blue {
  background-color: #1a0b2e;
}

.violete {
  background-color: #230e3d;
}

.violete-dark {
    background-color: #250D44;
}

.green {
  color: #00ff88;
}

.white {
  color: #ffffff;
}

.primary-color {
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}

.secondary-color {
  background: linear-gradient(45deg, #007b70 0%, #ecf955 100%);
}

.gradient-text {
  background: linear-gradient(360deg, #f7e93f 0%, #fb09b4 40%, #9100f8 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* shared style */

.btn {
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border: none;
  min-width: 135px;
}

.material-symbols-outlined {
  margin-left: 4px;
}

hr {
  margin-bottom: 5rem;
  border: none;
  border-top: 1px solid #ffffff;
}




/* navbar */

#navbar .nav-container {
  min-height: 92px;
  /* max-width: 846px;
    margin: 0 auto; */
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .nav-container .nav-head1 {
  -webkit-text-stroke: 1px rgb(0, 0, 0, 1);
}

#navbar .nav-container .nav-links {
  min-width: 218px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

#navbar .nav-container .nav-links a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
}


/* banner section */
#banner {
    background-image: url(./assets/hero-bg.png);
    background-repeat: none;
    background-size: cover;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 101px 525px;
}


.banner-container .banner-image {
    margin-bottom: 40px;
    position: relative;
}
.banner-container .banner-image .img1 {
    width: 450px;
    height: 450px;
}

.banner-container .banner-image .img1 img {
    width: 100%;
}



.banner-container .banner-image .img2 {
    position: absolute;
    top: 23%;
    left: 33%;
    height: 160px;
    width: 160px;
}

.banner-container .banner-image .img2 img {
    width: 100%;
}

.banner-container .banner-info h1 {
    font-style: Extra Bold;
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    margin-bottom: 8px;
    text-align: center;
}

.banner-container .banner-info p {
    font-size: 1rem;
font-weight: 200;
line-height: 19px;
margin-bottom: 24px;
}

.banner-container .banner-info .btn img {
    margin-right: 8px;
}


.banner-container .banner-info .btn.green {
    background: transparent;
    border: 2px solid #00FF88;
}

.banner-container .banner-info .banner-info-btns {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}


.new {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 1000px; 
  background: #00ff88; 
  color: #1A0B2E;
  font-weight: 600;
  font-size: 1.125rem;
  box-shadow:
    0 0 12px rgba(0, 255, 127, 0.8),
    0 0 24px rgba(0, 255, 127, 0.6),
    0 0 48px rgba(0, 255, 127, 0.4);
    position: absolute;
    top: 5%;
    left: 73%;
}


/* about section */

#about {
  min-height: 647px;
}

#about .about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

#about .about-container .about-content {
  text-align: center;
  margin-bottom: 5rem;
}

#about .about-container .about-content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#about .about-container .about-content p {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 200;
}

#about .about-container .about-rating .about-rating-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-bottom: 120px;
}

#about .about-container .about-rating .about-rating-cards .card {
  text-align: center;
}

#about .about-container .about-rating .about-rating-cards .card h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
  line-height: 3.625rem;
}

#about .about-container .about-rating .about-rating-cards .card p {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 200;
}

/* choose section */

.choose-container {
  padding-top: 120px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.choose-container h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-style: Bold;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.624rem;
}

.choose-container .choose-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}
.choose-container .choose-cards .card {
    padding: 40px;
    border-radius: 40px;
    background-color: #351165;
    display: grid;
    align-items: center;
}

.choose-container .choose-cards .one {
    grid-row: span 2;
}

.choose-container .choose-cards .two {
    grid-column: span 2;
}

.choose-container .choose-cards .three {
    grid-column: span 2;
}

.choose-container .choose-cards .four {
    grid-column: span 2;
}

.choose-container .choose-cards .card img {
    margin-bottom: 1rem;
    height: 60px;
    width: 60px;
}

.choose-container .choose-cards .card h3 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8125rem;
}

.choose-container .choose-cards .card p {
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* feature section */

.feature-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-container .feature-header h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.625rem;
    margin-bottom: 40px;
}

#featured .feature-container .feature-cards {
    display: flex;
    gap: 30px;
    margin-bottom: 120px;
}


.feature-container .feature-cards .card {
    border-radius: 24px;
    min-width: 380px;
}

.feature-container .feature-cards .card-text {
    padding: 24px;
}

.feature-container .feature-cards .card iframe {
    width: 100%;
    border-radius: 24px 24px 0 0;
    max-height: 214px;
}

.feature-container .feature-cards .card-text .card-heading {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8125rem;
}

.feature-container .feature-cards .card-text .card-info {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 12px 0;
    font-weight: 200;
}

.feature-container .feature-cards .card-text .duration {
    display: flex;
    align-items: center;
}

.feature-container .feature-cards .card-text .duration svg {
    fill: #00FF88;
    margin-right: 6px;
}

.feature-container .feature-cards .card {
  position: relative; 
}


.feature-container .feature-cards .card .custom-play {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  color: #fff;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.feature-container .feature-host h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.625rem;
    margin-bottom: 40px;
}

.feature-container .feature-host .host-container {
    display: flex;
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    align-items: center;
}

.feature-container .feature-host .host-container .host-picture {
    height: 200px;
    width: 200px;
}

.feature-container .feature-host .host-container .host-info .host-name {
    font-style: Bold;
font-size: 2rem;
font-weight: bold;
line-height: 2.4375rem;
margin-bottom: 1rem;
}


.feature-container .feature-host .host-container .host-info .host-text {
    font-size: 1rem;
line-height: 1.5rem;
margin-bottom: 1rem;
font-weight: 200;
}


.feature-container .feature-host .host-container .host-info .host-social .social-links {
    display: flex;
    gap: 8px;
    align-items: center;
}

.feature-container .feature-host .host-container .host-info .host-social .social-links .link
{
    list-style-type: none;
}

.feature-container .feature-host .host-container .host-info .host-social .social-links .link a {
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-container .feature-host .host-container .host-info .host-social .social-links .link a img {
    height: 20px;
    width: 20px;
}

/* footer */

footer {
  background-image: url(./assets/footer-bg.png);
    background-repeat: none;
    background-size: cover;
    padding: 150px;
}

.footer-container {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container h1 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 32px;
}

.footer-container .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
    margin: 0 auto;
    margin-bottom: 32px;
}


.footer-container .footer-links .social {
    display: flex;
    gap: 8px;
}

.footer-container .footer-links .social p {
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.1875rem;
}


.footer-container .copyright {
    margin-top: 32px;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 200;
}






